In [73]:
import pandas as pd
import numpy as np

In [74]:
#loading the january 2023datset
data_jan = pd.read_parquet("yellow_tripdata_2023-01.parquet")
data_jan

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN

In [75]:
data_jan.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [76]:
# number of columns
len(data_jan.columns)

19

In [77]:
# Converting the datetime columns to datetime objects
data_jan['tpep_pickup_datetime'] = pd.to_datetime(data_jan['tpep_pickup_datetime'])
data_jan['tpep_dropoff_datetime'] = pd.to_datetime(data_jan['tpep_dropoff_datetime'])

# Compute the duration in minutes
data_jan['duration'] = (data_jan['tpep_dropoff_datetime'] - data_jan['tpep_pickup_datetime'])
data_jan['duration'] = data_jan['duration'].dt.total_seconds() / 60
data_jan

#use the following logic as well
# data_jan['duration'] = data_jan.tpep_dropoff_datetime - data_jan.tpep_pickup_datetime
# data_jan.duration = data_jan.duration.apply(lambda td: td.total_seconds()/60)
# data_jan

#this second logic takes  time to compute than first logic

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [78]:
# Calculate the standard deviation of the durations
std_duration = data_jan['duration'].std()
print(f'standard deviation of duration:{std_duration:.2f}')

standard deviation of duration:42.59

In [79]:
# Total number of records before filtering
total_records_before = len(data_jan)
total_records_before

3066766

In [80]:
# Filter the DataFrame to keep only records with duration between 1 and 60 minutes (inclusive)
data_jan_filtered = data_jan[(data_jan['duration'] >= 1) & (data_jan['duration'] <= 60)]
data_jan_filtered

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee,duration
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.30,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00,8.433333
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.90,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00,6.316667
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.90,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00,12.750000
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.10,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25,9.616667
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.40,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00,10.833333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3066761,2,2023-01-31 23:58:34,2023-02-01 00:12:33,NaN,3.05,NaN,None,107,48,0,15.80,0.00,0.5,3.96,0.0,1.0,23.76,NaN,NaN,13.983333
3066762,2,2023-01-31 23:31:09,2023-01-31 23:50:36,NaN,5.80,NaN,None,112,75,0,22.43,0.00,0.5,2.64,0.0,1.0,29.07,NaN,NaN,19.450000
3066763,2,2023-01-31 23:01:05,2023-01-31 23:25:36,NaN,4.67,NaN,None,114,239,0,17.61,0.00,0.5,5.32,0.0,1.0,26.93,NaN,NaN,24.516667
3066764,2,2023-01-31 23:40:00,2023-01-31 23:53:00,NaN,3.15,NaN,None,230,79,0,18.15,0.00,0.5,4.43,0.0,1.0,26.58,NaN,NaN,13.000000
3066765,2,2023-01-31 23:07:32,2023-01-31 23:21:56,NaN,2.85,NaN,None,262,143,0,15.97,0.00,0.5,2.00,0.0,1.0,21.97,NaN,NaN,14.400000

In [81]:
# Total number of records after filtering
total_records_after = len(data_jan_filtered)
total_records_after

3009173

In [82]:
# Calculate the fraction of records remaining
fraction_remaining = (total_records_after / total_records_before) *100

print(f"Fraction of records remaining after removing outliers:{fraction_remaining:.0f}%")

Fraction of records remaining after removing outliers:98%

In [83]:
#lets assign the target
categorical = ['PULocationID', 'DOLocationID']

data_jan_filtered[categorical] = data_jan_filtered[categorical].astype(str)

C:\Users\Veera\AppData\Local\Temp\ipykernel_1240\1073095901.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_jan_filtered[categorical] = data_jan_filtered[categorical].astype(str)

In [84]:
from sklearn.feature_extraction import DictVectorizer


# Turn the DataFrame into a list of dictionaries
data_dicts = data_jan_filtered[categorical].to_dict(orient='records')

# Fit a dictionary vectorizer
#dv = DictVectorizer(sparse=False)
dv = DictVectorizer()
feature_matrix = dv.fit_transform(data_dicts)

# Get the dimensionality of the feature matrix
num_columns = feature_matrix.shape[1]

print("Dimensionality of the feature matrix (number of columns):", num_columns)

Dimensionality of the feature matrix (number of columns): 515

In [85]:
#Linear Regression
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import Ridge

from sklearn.metrics import mean_squared_error
X_train = feature_matrix
y_train = data_jan_filtered['duration'].values

lr = LinearRegression()
lr.fit(X_train, y_train)

y_pred = lr.predict(X_train)

mean_squared_error(y_train, y_pred, squared= False)

c:\Users\Veera\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\metrics\_regression.py:483: FutureWarning: 'squared' is deprecated in version 1.4 and will be removed in 1.6. To calculate the root mean squared error, use the function'root_mean_squared_error'.
  warnings.warn(

7.649261929201487

# Preparing validation dataset

In [86]:
data_feb = pd.read_parquet("yellow_tripdata_2023-02.parquet")
data_feb

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.40,3.50,0.5,0.00,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.00,-1.00,-0.5,0.00,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.00,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.90,2.25,0.5,0.00,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.00,1.00,0.5,3.30,0.0,1.0,25.30,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2913950,2,2023-02-28 23:46:00,2023-03-01 00:05:00,NaN,4.65,NaN,None,249,140,0,20.22,0.00,0.5,4.84,0.0,1.0,29.06,NaN,NaN
2913951,2,2023-02-28 23:26:02,2023-02-28 23:37:10,NaN,2.47,NaN,None,186,79,0,13.66,0.00,0.5,2.65,0.0,1.0,20.31,NaN,NaN
2913952,2,2023-02-28 23:24:00,2023-02-28 23:38:00,NaN,3.49,NaN,None,158,143,0,17.64,0.00,0.5,0.00,0.0,1.0,21.64,NaN,NaN
2913953,2,2023-02-28 23:03:00,2023-02-28 23:10:00,NaN,2.13,NaN,None,79,162,0,13.56,0.00,0.5,2.63,0.0,1.0,20.19,NaN,NaN
2913954,2,2023-02-28 23:03:03,2023-02-28 23:12:51,NaN,2.28,NaN,None,161,140,0,14.89,0.00,0.5,3.78,0.0,1.0,22.67,NaN,NaN

In [ ]:
# Data loaded with the appropriate columns
data_feb['tpep_pickup_datetime'] = pd.to_datetime(data_feb['tpep_pickup_datetime'])
data_feb['tpep_dropoff_datetime'] = pd.to_datetime(data_feb['tpep_dropoff_datetime'])

# Compute the duration in minutes
data_feb['duration'] = (data_feb['tpep_dropoff_datetime'] - data_feb['tpep_pickup_datetime'])
data_feb['duration'] = data_feb['duration'].dt.total_seconds() / 60

# Filter the DataFrame to keep only records with duration between 1 and 60 minutes (inclusive)
data_feb_filtered = data_feb[(data_feb['duration'] >= 1) & (data_feb['duration'] <= 60)]

# Convert categorical features to string
categorical_feb = ['PULocationID', 'DOLocationID']
data_feb_filtered[categorical_feb] = data_feb_filtered[categorical_feb].astype(str)

# Turn the DataFrame into a list of dictionaries
data_dicts_feb = data_feb_filtered[categorical_feb].to_dict(orient='records')

# Transform the data using the already fitted dictionary vectorizer
feature_matrix_feb = dv.transform(data_dicts_feb)

# Assign the target variable
X_val = feature_matrix_feb
y_val = data_feb_filtered['duration'].values

# Predict on the validation data using the trained model
y_pred_feb = lr.predict(X_val)

# Calculate RMSE on the validation data
rmse_val = np.sqrt(mean_squared_error(y_val, y_pred_feb))

print("RMSE on validation data:", rmse_val)

In [94]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

# data_jan and data_feb are  defined and loading with appropriate columns

# Convert datetime columns to pandas datetime
data_jan['tpep_pickup_datetime'] = pd.to_datetime(data_jan['tpep_pickup_datetime'])
data_jan['tpep_dropoff_datetime'] = pd.to_datetime(data_jan['tpep_dropoff_datetime'])
data_feb['tpep_pickup_datetime'] = pd.to_datetime(data_feb['tpep_pickup_datetime'])
data_feb['tpep_dropoff_datetime'] = pd.to_datetime(data_feb['tpep_dropoff_datetime'])

# Compute duration in minutes
data_jan['duration'] = (data_jan['tpep_dropoff_datetime'] - data_jan['tpep_pickup_datetime']).dt.total_seconds() / 60
data_feb['duration'] = (data_feb['tpep_dropoff_datetime'] - data_feb['tpep_pickup_datetime']).dt.total_seconds() / 60

# Filter data to keep only records with duration between 1 and 60 minutes
data_jan_filtered = data_jan[(data_jan['duration'] >= 1) & (data_jan['duration'] <= 60)].copy()
data_feb_filtered = data_feb[(data_feb['duration'] >= 1) & (data_feb['duration'] <= 60)].copy()

# Convert categorical features to string
categorical = ['PULocationID', 'DOLocationID']
data_jan_filtered[categorical] = data_jan_filtered[categorical].astype(str)
data_feb_filtered[categorical] = data_feb_filtered[categorical].astype(str)

# Combine training and validation data for fitting the vectorizer
combined_data = pd.concat([data_jan_filtered[categorical], data_feb_filtered[categorical]])

# Turn the DataFrame into a list of dictionaries
combined_dicts = combined_data.to_dict(orient='records')

# Fit a dictionary vectorizer on the combined data
dv = DictVectorizer()
dv.fit(combined_dicts)

# Transform training and validation data
feature_matrix_train = dv.transform(data_jan_filtered[categorical].to_dict(orient='records'))
feature_matrix_val = dv.transform(data_feb_filtered[categorical].to_dict(orient='records'))

# Assign the target variables
y_train = data_jan_filtered['duration'].values
y_val = data_feb_filtered['duration'].values

# Train a linear regression model
lr = LinearRegression()
lr.fit(feature_matrix_train, y_train)

# Predict on the training and validation data
y_pred_train = lr.predict(feature_matrix_train)
y_pred_val = lr.predict(feature_matrix_val)

# Calculate RMSE on training and validation data
rmse_train = np.sqrt(mean_squared_error(y_train, y_pred_train))
rmse_val = np.sqrt(mean_squared_error(y_val, y_pred_val))

print("RMSE on training data:", rmse_train)
print("RMSE on validation data:", rmse_val)

RMSE on training data: 7.649262776153699
RMSE on validation data: 7.811804110348925